@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/**** COLORS ****/
:root {
    --paleBlue: hsl(207, 100%, 98%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --start_g: hsl(6, 100%, 80%);
    --end_g: hsl(335, 100%, 65%);
}

html, body {
    /*background-color: var(--veryDarkBlue);*/
    width: auto;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--paleBlue);
}
.page {
    background-color: var(--veryDarkBlue);
    position: absolute;
    background-image: url(./images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/********* TABS *********/
.tabs {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 30%;
    padding: 0 15%;
    position: relative;
    margin-top: 10%;
}
.left, .right {
    background-color: var(--darkBlue);
}
.left {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 60%;
}
.bg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlue);
    height: 40px;
    width: 40px;
}
.bar-container {
    display: flex;
    width: 97%;
    height: 10px;
    margin: 0 auto;
    background-color: hsla(229, 57%, 11%, 0.4);
    border-radius: 10px;
    padding: 3px;
}
.storage-bar {
    display: flex;
    width: 81.5%;
    height: 100%;
    background: linear-gradient(90deg, var(--start_g), var(--end_g));
    margin: auto 2px;
    border-radius: 10px;
    padding: 2px;
    justify-content: end;
}
.circle {
    display: flex;
    height: 100%;
    width: 10px;
    background-color: var(--paleBlue);
    border-radius: 100px;
}
.limits-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
.right {
    width: 600px;
    height: auto;
    padding: 1%;
    border-radius: 10px;
}